[Unit]
Description=Execute /usr/local/bin/suspendlock on suspend
Before=sleep.target

[Service]
User=jan
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/suspendlock

[Install]
WantedBy=sleep.target
